<div>
	<div class="text-estiv">
			<div class="row">
					<div class="col-lg-3">
						<%= image_tag "depay", class: "depay"%>
						<div class="card-body">
							<h4 class="card-title"><em><strong></strong>Memphis Depay</strong></em></h4>
							<h6 class="category text-gray">Lui, très heureux dans son club actuel mais déjà courtisé par d'autres clubs</h6>
							
							
						</div>
					</div>
				<div class="col-lg-3">
					
					<p>	Après avoir passé de nombreuses mauvaises saisons à Old trafford, avec de temps de jeu minimal que n'importe quel autre joueur c'est lui qui a passé le plus de minutes sur le banc mancunien.<br>
						Au cours d'un long entretien accordé à Algemeen Dagblad, Memphis Depay, très performant en 2018, a expliqué les dessous de son retour à son meilleur niveau avec l'OL et les Pays-Bas.
					</p>
				</div>
				<div class="col-lg-3">
				
				<p> Très parlé ces derniers temps que lors du prochain mercato hivernal, il va changer de cap soit au Réal Madrid soit FC Barcelone.
					Le diable rouge en pleine forme chez les Blues du club capitale d'Angleterre.<br>
					Hazard« Je lui parlais beaucoup avant de signer à Chelsea. Chaque jour, il me disait que Chelsea serait le meilleur club pour moi. Il me disait que Chelsea était un grand club où je pourrais remporter des titres chaque saison. C’est pour cela que j’ai signé, alors merci Joe Cole. »
				</p>
				</div>
				<div class="col-lg-3">
					<%= image_tag "hazard", class: "hazard"%>
					<div class="card-body">
						<h4 class="card-title"><em>Eden Hazard</em></h4>
						<h6 class="category text-gray">La question restera-t-il un Blues ou changera de cap en espagne?</h6>
						
						
					</div>
				</div>	
			</div>
	</div>
</div>
<div>
	
</div>